@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    overscroll-behavior-y: contain;
}

#root {
  min-height: 100vh;
  min-height: 100dvh;

  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

/* Animação para seta do mapa de calor */
@keyframes dash {
  to {
    stroke-dashoffset: -100;
  }
}

.animate-dash {
  animation: dash 2s linear infinite;
}
